*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    user-select: none;
    font-family: 'Belanosima', sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

/*----  Header  ----*/
header{
    background-color: #f8f8f8;
    height: 80px;
    width:100%;
}
nav{
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: "logo botoesNav redes";
    height: 100%;
}
#titulomobile, #menu_icon{
    display:none;
}
#botoesNav{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    grid-area: botoesNav;
    
}
.botaoNav{
    background-color: #44B0FF;
    border: none;
    border-radius: 24px;
    color: #eeeeee;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.2rem;
    width: 150px;
    font-family: 'Belanosima', sans-serif;
    transition: 200ms;
}
.botaoNav:hover{
    background-color: #44B0FF;
    cursor: pointer;
    scale:103%;
    transition: 200ms;
}
.botaoNav:active{
    background-color: #56a1f7;
    cursor: pointer;
    scale:98%;
    transition: 150ms;
    box-shadow: inset 0px 0px 4px #525151;
}
#logo{
    grid-area:logo;
    height: 50px;
    width: fit-content;
    position:relative;
    left: 65px;
}
#logo img{
    width: 150px;
    height: auto;
}
#redes{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    grid-area:redes;
}
#patreonNavImg{
    width:120%;
}
#twitterNavImg{
    width:120%;
}
#patreonNavImg:active{
    scale:98%;
    transition: 150ms;
}
#twitterNavImg:active{
    scale:98%;
}
#twitterNav{
    margin-left: 8%;
}

/* ---- Home ---- */

#telainicial{
    background-image: url(imagens/farol.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: -35px;
    display: flex;
    align-items: flex-end;
    height: 100vh;
}
#prancheta{
    display: none;
}
#titulo{
    font-family: 'Irish Grover', cursive;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 18%;
    margin-bottom: 10%;
    margin-left: 8%;
}
h1{
    font-weight: 400;
    font-size: 4rem;
    color: #eeeeee;
}   
#wishlist{
    font-family: 'Irish Grover', cursive;
    font-weight: 600;
    border: 0mm;
    padding: 2em, 0.5em, 2em, 0.5em;
    background-color: #ffffff;
    color:#000000;
    height: 3rem;
    font-size: 1.25rem;
    width: 7em;
    border-radius: 2em;
    transition: 0.5s;
    cursor:pointer;
}
#wishlist:hover{
    background-color: #ffffff;
    transition: 0.5s;
    scale: 103%;
}
#bandeira{
    position: relative;
    top: -100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 20vh;
    width: 100%;
    background-color: #56a1f7;
    color: #ffffff;
    font-size: 24px;
    font-family: 'Irish Grover', cursive;
    box-shadow: 2px 4px 15px #1d1d1dd8;
    text-align: center;
    margin-bottom: -100px;
}
#bandeira #textoBandeira{
    text-align: center;
    position: absolute;
    height: 10%;
    width: 50%;
    font-size:x-large;
    color: #eeeeee;
}
   
#patreon{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(imagens/fundo_patreon1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vw;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 28px;
    margin: 10% 0 10% 0;
}
#patreon img{
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 8px 8px #363636d8;
}
#patreon a{
    transition: 500ms;
}
#patreon a:hover{
    scale: 105%;
    transition: 500ms;
}
#patreon p{
    margin: 0.5em;
    text-shadow: 2px 2px 10px #18181881;
}
.botao_patreon{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 34vw;
    flex-direction: column;
}


/* ---- Footer ----*/

footer{
    background-color: #3b3b3b;
    height: 12em;
    font-size: 1.2em;
    color:#ffffff;
    text-align: center;
}
.canais{
    display: grid;
    margin-top: 1.5rem;
    grid-template-columns: 25% 25% 25% 25%;
    height: 50%;
}
.contatolink img{
    width: 4rem;
    height: auto;
    vertical-align: middle;
}
.logos{
    scale: 65%;
}
footer #nomefinal{
    height: 1em;
}
.linkfooter{
    transition: 100ms;
    text-decoration-line: none;
    color: #eeeeee;
}
.linkfooter:hover{
    transform: scale(150%);
    transition: 100ms;
    color: #a0a0a0;
}

/* ---- Loja ----*/

#loja{
    background-color: #5f9ea0;
    height: fit-content;
}
#grid-loja{
    display: grid;
    grid-template-columns: 100%;
    gap: 4vw;
    padding: 5% 5% 5% 5%;
}
#banner-mobile{
    display: none;
}
#banner-loja{
    width: 100%;
    height: auto;
}
#banner-loja img{
    width: 100%;
    box-shadow: 2px 5px 8px #1a0f0fa1;
}
.produtos-loja{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.produtos-loja div{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 15em;
    border-radius: 15px;
    background-color: white;
}
.produto p{
    font-family: 'KoHo', sans-serif;  
}
.produto{
    box-shadow: 2px 5px 8px #2c2c2ca1; 
    width: 20vw;
    margin-bottom: 40px;
}
.produtos-loja div .posterImg{
    height: 15em;
    width: 200px;
}
.produtos-loja div .posterImg img{
    padding: 20px;
    width: 180px; 
}
.posterPreco{
    height: auto;
    padding-bottom: 20px;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}
.botao-comprar img{
    width: 30px;
    cursor: pointer;
}
.botao-comprar button:hover{
    scale: 102%;
    background-color: #c479fd;
    transition: 300ms;
    color: white;
}
.botao-comprar button:active{
    scale: 98%;
    background-color: #a762db;
    transition: 103ms;
    color: white;
    font-weight: bold;
}
.botao-comprar button{
    background-color: #a460d8;
    border-radius: 20px;
    border: none;
    width: 10em;
    height: auto;
    color: #ffffff;
    margin-top: 10%;
    font-weight: bold;
    transition: 300ms;
}


/* ---- Novidades ---- */

#nov-recente, #nov-outros{
    color: #ffffff;
    text-align: center;
}

.nov-titulo{
    color: #ffffff;
    text-shadow: 2px 2px 2px#00000033;
    font-family: 'Irish Grover', cursive;
    border-radius: 5px;
    width: fit-content;
}
.nov-titulo p{
    font-size: 50px;
}

#nov-recente{
    font-family: 'Irish Grover', cursive;
    background-image: linear-gradient(#80C7C9 25%, #E4FEFF);
}

#cont-nov-recente{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 5%;
    padding-left: 10%;
    padding-right: 10%;
}


#nov-atualiza-recente{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 6%;
    margin-bottom: 2%;
}
.cont-atualiza-recente{
    box-shadow: 2px 4px 6px#1a0f0fa1;
    display: flex;
    flex-direction: column;
    width: 35vw;
    border-radius: 10px;
    overflow: hidden;
    transition: scale 500ms;
}
.cont-atualiza-recente img{
    height: 100%;
}
.nov-recente-texto{
    background-color: #FB954B;
    font-weight: 500;
    font-size: 1.5em;
    padding: 0.20em;
    padding-bottom: 0.35em;
    scale:140%;
    rotate: -2deg;
}
.nov-recente-texto p{
    rotate: 2deg;
}
.cont-atualiza-recente:hover{
    scale: 105%;
    transition: 500ms;
}

#nov-outros{
    background-image: linear-gradient( #A6D915, #EBDD64 60%);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}
#cont-nov-outros{
    padding: 6%;
    display: flex; 
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.nov-outro{
    display: flex;
    width: 100%;
    height: 50vh;
    margin-top: 6%;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 2px 4px 10px#202020a1;
}
.nov-data{
    z-index: 1;
    display: flex;
    align-self: flex-start;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: 'Irish Grover', cursive;
}
.nov-data-texto{
    position: absolute;
}
.nov-data-texto p{
    position: relative;
    font-size: 28px;
    right: 15%;
}
.nov-data-img, .nov-data-img img{
    height: 100%;
}

.nov-outro-detalhes{
    position: relative;
    left: -5%;
    margin-right: -5%;
    z-index: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 105%;
}
.nov-outro-imagens{
    display: flex;
    justify-content: space-between;
    height: 85%;
}
.nov-outro-imagem{
    height: 100%;
    overflow: hidden;
    width: calc(100%/3);
}
.nov-outro-imagem img{
    scale:120%;
    filter:saturate(25%) blur(2px);
    height: 100%;
    width: 100%;
    transition: 0.5s;
}
.nov-outro-imagem img:hover{
    scale:100%;
    filter:saturate(100%) blur(0px);
    height: 100%;
    width: 100%;
    transition: 0.5s;
}


.nov-nome{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 100%;
    background-color: #ffffff;
    color:#F68B27;
    font-size: 28px;
}
.nov-outro-desc{
    width: 100%;
    margin-top: 3%;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 1px 2px 6px#202020a1;
    color:#000000;
}
.nov-outro-desc p{
    padding: 0.5em;
    font-size: 20px;
}

.outro-margin{
    margin-top: 5%;
}

/* ---- Equipe ---- */

#t3 {
    color: #44B0FF;
    text-align: center;
    width: 100%;
    height: fit-content;
    padding-top: 5%;
    padding-bottom: 5%;
    animation-name: slidein;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
}

#titulao{ 
    text-align: center;
    padding: 2% 3%;
    font-size: 15%; 
    background-color: #44B0FF;
    color: #000;
}

@keyframes slidein {
    0% {
        opacity: 0;
        transform: translateY(-20%);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
}
  
#descricao{
    font-size: 135%;
    text-align: center;
    color: #ececec;
    animation-name: slidein;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
}

#ptAzul{
    height: 10vh;
    background-color: #44B0FF;
}

.div-equi{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url(imagens/fparalives.jpg);
    background-size: cover;
    background-position: center;  
}

.div-conteiner {
    height: fit-content;
    text-align: center;
    padding: 10%;
}

#secao-vede{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 100%;
    box-shadow: 10px 10px 7px #5858587c;
    background-image: url(imagens/Triangulovede.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

#contsecaovede{
    display: flex;
    flex-direction: row ;
    align-items: center;
    padding-top: 8%;
    padding-bottom: 8%;
    text-align: center;
}

#contsecaovede p{
    width: 50%;
}

#seta img {
    width: 5%;
    padding-top: 10%;
    cursor: pointer;
    animation-name: setaBaixo;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#img-equipe{
    width: 50%;
}


#img-equipe img{
    width: 75%;
    border-radius: 40px;
    border: white solid 3px;
}

#titulo_equipe{
    font-size: 30px; 
    color: #44B0FF;
    text-align: center;

}

#text-foto{
    color: white;
    font-size: 150%;
    padding-right: 8%;
}

.grid-equipe{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5%;
    column-gap: 10%;
    padding: 5% 5%;
}

.card {
    background-color: #f8f8f8;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 2px #00000033;
    height: 25vw;
    transition: transform 0.5s ease;

  }
  
  .card:hover {
    transform: scale(1.1);
  }
  
  .card img {
    max-width: 50%;
    border-radius: 50%;
    padding: 5% 5%;
  }
  
  .cargo {
    padding: 2%;
    display: block;
    color: #3b3b3b;
    font-size: 80%;
  }
  
  .conteudocard button {
    background-color: #44B0FF;
    border-radius: 10px;
    text-align: center;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: white;
    margin-top: 5%;
  }
  

/* --- Responsivo ---*/

@media only screen and (max-width: 1024px)
{
    #titulo{
        position:relative;
        bottom: 50px;
    }
    #patreon{
        height: 80vw;
        font-size: 3vw;
    }
    .botao_patreon{
        height: 100%;
        width: 42vw;
    }
}
@media only screen and (max-width: 900px)
{
    #banner-completo{
        display: none;
    }
    #banner-mobile{
        display: block;
    }
    #titulo{
        position: relative;
        bottom: 75px;
    }
    #logo{
        position: relative;
        left: 30px;
        
    }
}
@media only screen and (max-width: 786px)
{
    #botoesNav, .botaoNav, #titulo h1, #logo{
        display: none;
    }
    #banner-loja{
        width: 100%;
        height: auto;
    }
    #banner-loja img{
        width: 100%;
        box-shadow: 2px 5px 8px rgba(26, 15, 15, 0.63);
    }
    #titulomobile{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: botoesNav;
    }
    h2{
        font-size: 36px;
        font-family: 'Irish Grover', cursive;
        color:#000000;
    }
    #menu_icon{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: logo;
    }
    #telainicial{
        align-items: center;
    }
    #titulo{
        position: relative;
        top: -7em;
        margin-left: 0;
    }
    #prancheta{
        display: block;
        width: 16em;
        rotate: 1deg;
        }
    #wishlist{
        rotate: -5deg;
        position: relative;
        left: 10px;
    }
    #patreon{
        height: 80vw;
        font-size: 4vw;
    }
    .botao_patreon{
        height: 100%;
        width: 50vw;
    }
}
@media only screen and (max-width: 600px)
{
    .canais{
    grid-template-columns: 50% 50%;
    }
    footer{
        height: 18em;
    }
    #twitterNavImg{
        display: none;
    }
    .produtos-loja .produto{
        width: 40vw;
        font-size: 2.4vw;
    }
    .produtos-loja div .posterImg{
        max-height: 15em;
        width: 40vw;
    }
    .produtos-loja div .posterImg img{
        padding: 2em;
        width: 35vw; 
    }
    .produtos-loja .posterPreco, .texto-comprar, .botao-comprar{
        width: 32vw;
    }
    .botao-comprar button{
        font-size: 2.4vw;
    }
    #patreon{
        height: 90vw;
    }
    .botao_patreon{
        height: 100%;
        width: 60vw;
    }
    .grid-equipe {
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-height: 300px)
{
        #bandeira{
            position: relative;
            margin-bottom: 0;
            top: 0;
        }
        #titulo{
            position: relative;
            bottom: -30px;
        }
}



@media only screen and (max-width: 414px)
{
    #contsecaovede{
        flex-direction: column;
        font-size: 50%;
    }

    #seta img{
        display: none;
    }
    #patreon{
        height: 100vw;
        font-size: 6vw;
    }
    .botao_patreon{
        height: 100%;
        width: 75vw;
    }
}

@media only screen and (max-width: 970px)
{
    #seta img{
        width: 14%;
    }

}

@media only screen and (max-width: 1116px) {
    .grid-equipe {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

































































::-webkit-scrollbar {
    width: 5px;
    background-color: #ffffff;
}
::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: #e4e4e4d3;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #c7c7c7;
}
